.dropDownProfile {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
  right: 0;
  width: 150px;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--secondary-background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropDownProfileList {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropDownProfileListItem {
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 4px;
  transition: background-color 0.2s;
  color: var(--secondary-text-color);
  font-size: 0.9rem;
}
