.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px 40px;
  box-shadow: 0 1px 3px -2px black;
  align-items: center;
  margin-bottom: 1px;
  background: white;
}

.navLogo {
  width: 140px;
  text-align: left;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  color: #242424;
  letter-spacing: -0.5px;
}

.navProfile {
  width: 50px;
}

@media (max-width: 800px) {
  .navbar {
    padding: 15px 30px;
  }

  .navLogo {
    width: 150px;
  }

  .navProfile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
}
