.courseCard {
  width: 100%;
  max-width: 22rem;
  min-width: 280px;
  border: 1px #242424 solid;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.2s ease;
  position: relative;
  flex: 1 1 300px;

  &:hover{
    transform: scale(1.01);
  }

  h3, ul {
    padding: 0 1rem;
  }
}

a img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

ul {
  flex: 2;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  color: gray;
  padding-bottom: 1rem;

  li {
    text-decoration: none;
    display: inline-block;
    margin-right: 0.5rem;

    &:hover{
      color: var(--hover-color);
    }
  }
}

@media (max-width: 480px) {
  .courseCard {
    min-width: 240px;
  }

  h3 {
    font-size: clamp(1.1rem, 4vw, 1.5rem);
  }
}